body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-image: url("Images/full-bloom.png");
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.past {
  background-color: rosybrown;
  color: black;
  border: none;
}

.present {
  background-color: palegreen;
  color: brown;
  border: none;
  font-weight: bold;
}

.future {
  background-color: plum !important;
  color: rgb(100, 121, 237);
  border: none;
}

.timeSlot {
  text-align: center;
  padding: 20px;
  border: 2px black;
  background-color: #06AED5;
  border-radius: 15px 0px 0px 15px;
}

.toDo {
  text-align: left;
  padding: 20px;
  list-style: none;
  margin-bottom: 8px;
}

.saveSlot {
  text-align: center;
  list-style: none;
  background-color: tomato;
  margin-bottom: 8px;
  padding-top: 20px;
  cursor: pointer;
  border-radius: 0px 15px 15px 0px;
}

.hide {
  display: none;
}